{{ 'style.card.css' | asset_url | stylesheet_tag }}

<div class="card">
  <img src="{{ product.featured_image.src |img_url: 'medium'}}" alt="{{ product.image.alt }}" class="card__img">
  <h3 class="card__title">{{ product.title }}</h3>
  <h4 class="card__price">{{ product.price | money }}</h4>
  <h4 class="card__subtitle">New collection</h4>
</div>


<script>
  formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: 'USD',
    maximumFractionDigits: 2
  });
</script>