{{ 'style.product.css' | asset_url | stylesheet_tag }}

<a href="{{ product.url }}" class="product">
  <div class="product-image__wrapper">
    <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="" class="product__image">
  </div>
  <div class="product__info">
    <h3 class="product__title">{{ product.title }}</h3>
    <h4 class="product__price">{{ product.price | money }}</h4>
    <h4 class="product__subtitle">{{ product.tags[0] }}</h4>
  </div>
</a>