<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {{ content_for_header }}
    <!-- ======================================== Header hook for plugins ======================================== -->
    <!-- ======================================== Styles ======================================== -->
    {{ 'style.fonts.css' | asset_url | stylesheet_tag }}
    {{ 'style.side-cart.css' | asset_url | stylesheet_tag}}
    {{ 'style.base.css' | asset_url | stylesheet_tag }}
    {{ 'style.normalize.css' | asset_url | stylesheet_tag }}
    {{ 'style.typography.css' | asset_url | stylesheet_tag }}
    <!-- ======================================== Js ======================================== -->
      <style>
@font-face {
  font-family: "MinionPro-Regular";
  src: local("MinionPro-Regular"), url('{{ "MinionPro-Regular" | asset_url }}') format("woff");
  font-display: swap;
}
@font-face {
  font-family: "SF New Republic";
  src: local("SF New Republic"), url('{{ "SF New Republic.woff" | asset_url }}') format("woff");
  font-display: swap;
}
</style>
  </head>

    <body class="gradient"> {% section 'announcement-bar' %}
    {% section 'navbar' %}
    {% section 'side-cart' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>

<script>
  let cartOpen = document.querySelector('.side-cart-open');
  let sideCartNav = document.querySelector('.side-cart')
  cartOpen.addEventListener('click', () => {
    sideCartNav.classList.remove('open-side-cart')
    console.log('open cart')
  })
</script>