{{ 'style.affiliate-outfitting-header.css' | asset_url | stylesheet_tag}}

<div class="affiliate-outfitting__container">
  <div class="affiliate-outfitting_content">
    <h5 class="affiliate-outfitting__subtitle">{{ section.settings.header_subtitle }}
    </h5>
    <h3 class="affiliate-outfitting__title">{{ section.settings.header_title }}
    </h3>
  </div>
  <div class="affiliate-outfitting_icon">{% render 'icon-affiliate-outfitting-arrow' %}
  </div>
  <img class="affiliate-outfitting-header_img lazyload" src="{{ section.settings.header_img.src | img_url: '1024x688' }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.header_img.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ section.settings.header_img.alt | escape }}">
</div>


{% schema %}
  {
    "name": "Affiliate Outfitting",
    "settings": [
      {
        "type": "text",
        "id": "header_subtitle",
        "label": "Header Subtitle",
        "default": "Commercial gym"
      }, {
        "type": "text",
        "id": "header_title",
        "label": "Header Title",
        "default": "Affiliate Outfitting"
      }, {
        "type": "image_picker",
        "id": "header_img",
        "label": "Header Image"
      }
    ]

  }
{% endschema %}
