{{ 'style.affiliate-outfitting-packages.css' | asset_url | stylesheet_tag}}

<div class="affiliate-outfitting-packages__container">
  <h3 class="affiliate-outfitting-packages__title">{{ section.settings.packages_title }}
  </h3>
  <p class="affiliate-outfitting-packages__description">{{ section.settings.packages_description }}
  </p>
  <div class="affiliate-outfitting-packages__box">
    {% for sections in section.blocks %}
      <div class="affiliate-outfitting-packages__box-item">
        <h1 class="packages__title">{{ sections.settings.packages_num }}
        </h1>
        <h5 class="packages__subtitle">{{ sections.settings.packages_subtitle }}
        </h5>
        
        <ul class="packages__box-items">
          {% for item in sections.settings.packages_items.links %}
            <li class="packages__box-item">
              <a class="packages__box-item--link" href="{{item.url}}">{{ item.title | escape }}
              </a>
            </li>
          {% endfor %}
          {% for item in sections.settings.packages_viewmore.links %}
              <a class="packages__view-more--link" href="{{item.url}}">
                {{ item.title | escape }}
             </a>
            </>
          {% endfor %}
        </ul>

        
      </div>
    {% endfor %}

  </div>
</div>


{% schema %}
  {
    "name": "Aff Outfitting Packages",
    "settings": [
      {
        "type": "text",
        "id": "packages_title",
        "label": "Title",
        "default": "Affiliate packages"
      }, {
        "type": "text",
        "id": "packages_description",
        "label": "Description",
        "default": "Ready to stop planning and start training? Our equipment packages provide the right amount of equipment to get you up and running fast."
      }
    ],
    "blocks": [
      {
        "type": "packages",
        "name": "Packages",
        "settings": [
          {
            "type": "text",
            "id": "packages_num",
            "label": "Packages Number",
            "default": "5"
          }, {
            "type": "text",
            "id": "packages_subtitle",
            "label": "Packages Subtitle",
            "default": "Athletic package"
          }, {
            "type": "link_list",
            "id": "packages_items",
            "label": "Items"
          }, {
            "type": "link_list",
            "id": "packages_viewmore",
            "label": "View More"
          }
        ]
      }
    ]

  }
{% endschema %}
