{{ 'style.banners.css' | asset_url | stylesheet_tag }}\

<div class="banners">
  <img src="{{ section.settings.banner_img | img_url: 'large' }}" alt="banner-img" class="banner-img">
  <div class="banners__cta">
    <div class="cta__line">
      <span class="line_left-top"></span>
      <span class="line_left-bottom"></span>
      <span class="line_right-top"></span>
      <span class="line_right-bottom"></span>
      <div class="cta__container">
        <div class="cta__left">
          <img src="{{ section.settings.cta_img.src | img_url: 'medium' }}" alt="cta-img" class="cta-img">
        </div>
        <div class="cta__right">
          <h2 class="cta__title">{{ section.settings.cta_title }}</h2>
          <p class="cta__description">{{ section.settings.cta_description }}</p>
          {% render 'secondary-button', title: 'SHOP THEM COLLECTION' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banners",
    "settings": [
      {
        "id": "banner_img",
        "type": "image_picker",
        "label": "Banner Image"
      },
      {
        "id": "banner_cta_line",
        "type": "image_picker",
        "label": "Banner Cta Line"
      },
      {
        "id": "cta_img",
        "type": "image_picker",
        "label": "Cta Image"
      },
      {
        "id": "cta_title",
        "type": "text",
        "label": "Cta Title",
        "default": "Lorem ipsum dolor sit Amet."
      }, {
        "id": "cta_description",
        "type": "text",
        "label": "Cta Description",
        "default": "Convallis ac faucibus maecenas blandit elit. Placerat tellus fermentum in amet ac vitae, justo, pellentesque. Diam massa neque, blandit proin dapibus nec."
      }
    ]
  }
{% endschema %}