<form action="/cart" method="post" novalidate class='mycart'>
  <div class="mycart__top">
    <h3 class="mycart__title h3">{{ 'cart.cart_page.cart_title' | t }}</h3>
    {% render 'icon-x' %}
  </div>
  <div class="mycart__products"></div>
  <div class="mycart__bottom">
    <div class="mycart__wrapper">
      <h4 class="h4">{{ 'cart.cart_page.cart_subtotal' | t }}</h4>
      <p class="h4 subtotal">$25.00</p>
    </div>
    <div class="mycart__wrapper">
      <p class="p">{{ 'cart.cart_page.cart_tax_text' | t }}</p>
    </div>
    <div class="mycart__affirm">
      {% render 'icon-affirm' %}
      <p class="p">{{ 'cart.cart_page.cart_affirm' | t }}</p>
      <a href="#" class="p">{{ 'cart.cart_page.cart_link_learn_more' | t }}</a>
    </div>
    {% render 'primary-button', title: {{ 'cart.cart_page.cart_checkout_btn' | t }}, type:'large' %}
  </div>
  <div class="mycart__empty">
    <p class="mycart__empty--title">{{ 'cart.cart_page.cart_cart_empty' | t }}</p>
    {% render 'primary-button', title: 'cart.cart_page.cart_shop_best_sellers' | t , type: 'large primary-button-white' %}
  </div>
</form>

{% schema %}
  {
    "name": "Cart",
    "settings": [
      {
        "id": "cart_img",
        "type": "image_picker",
        "label": "Cart Image"
      }
    ]
  }
{% endschema %}