{{ 'style.header.css' | asset_url | stylesheet_tag }}

<style>
  .header {
    background-image: url('{{ section.settings.hero_image | img_url: '1440x661' }}');
  }
</style>

<div class="header">

  <div class="header__nav">
    <div class="nav-col">
      <ul class="nav-items">
        {% for link in section.settings.nav_link.links %}
          <li class="nav-item">
            <a href="{{ link.url }}" class="nav-link p">{{ link.title | escape  }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="nav-logo">
      {% if template == 'index' %}
        <a href="#">
          <img src="{{ section.settings.header_logo.src | img_url: "144x" }}" alt="logo" class="logo">
        </a>
      {% else %}
        <a href="#">
          <img src="{{ section.settings.header_logo_black.src | img_url: "144x" }}" alt="logo" class="logo">
        </a>
      {% endif %}
    </div>
    <div class="nav-col nav-right">
      <ul class="nav-items">
        <li class="nav-item">
          <a href="#" class="nav-link p">SEARCH</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link p">ACCOUNT</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link p">CART(0)</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "id": "hero_image",
        "type": "image_picker",
        "label": "Hero Image"
      }, {
        "id": "nav_link",
        "type": "link_list",
        "label": "Nav Link"
      }, {
        "id": "header_logo",
        "type": "image_picker",
        "label": "Logo"
      }, {
        "id": "header_logo_black",
        "type": "image_picker",
        "label": "Logo Black"
      }
    ]
  }
{% endschema %}