{{ 'style-header.css' | asset_url | stylesheet_tag}}
<div class="header">
  <div class="header__nav">
    {% if template == 'index' %}
      <a href="#">
        <img src="{{ section.settings.header_logo.src | img_url: '240x'}}" alt="logo" class="logo">
      </a>
    {% else %}
      <a href="#">
        <img src="{{ section.settings.header_logo_black.src | img_url: '240x'}}" alt="logo" class="logo">
      </a>
    {% endif %}
    <ul class="nav__items">
      {% for link in section.settings.menu.links %}
        <li class="nav__item">
          <a class="nav__link p" href="{{ link.url }}">{{link.title | escape }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="header__icons">
      {% render 'icon-search' %}
      <a href="/account/login">
        {% render 'icon-account' %}
      </a>
      <div class="basket__counter--wrapper">
        {% render 'icon-basket' %}
        <span class="basket__counter"></span>
      </div>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Navigations",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "image_picker",
        "id": "header_logo",
        "label": "Logo"
      }, {
        "type": "image_picker",
        "id": "header_logo_black",
        "label": "Logo black"
      }
    ]
  }
{% endschema %}
