<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
{{ 'style-home-products.css' | asset_url | stylesheet_tag}}
<script src="lazysizes.min.js" async=""></script>


<div class="homepage-products">
    <div class=" swiper__contaiener swiper mySwiper">
        <div class="homepage-products__wrapper swiper-wrapper">
            {% for collection in section.settings.collection_list %}
                <div class="homepage-product swiper-slide">
                    <div class="homepage-product__img-wrapper">
                        <img class="banner_img lazyload"
                            src="{{ collection.image | img_url: '328x334' }}"
                            data-src="{{ img_url }}"
                            data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                            data-aspectratio="{{ collection.image.aspect_ratio }}"
                            data-sizes="auto"
                            data-parent-fit="cover"
                            alt="{{ collection.image.alt | escape }}">
                    </div>
                    <h6 class="homepage-product__title">{{collection.title}}</h6>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>



{% schema %}
{
    "name": "Product Collections",
    "settings": [
        {
            "id": "collection_list",
            "type": "collection_list",
            "label": "Collections"
        }
    ]
}
{% endschema %}



<script>
    var swiper = new Swiper(".mySwiper", {
      direction: 'horizontal',
      slidesPerView: 4,
      spaceBetween: 18, 
      loop: true,
      autoplay: {
      delay: 2500,
      disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>
