{{ 'style.recharge.css' | asset_url | stylesheet_tag }}
{{ 'style-pdp.css' | asset_url | stylesheet_tag }}
<script src="lazysizes.min.js" async=""></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/fIXQBDcPB1ga8iaQHkuy2oMDpWAx7wpwAHovVRjv" async></script>
<script src="{{ 'js.recharge.js' | asset_url }}" defer></script>

<div class="pdp">
  <form  id="form" class="pdp__container" data-selling_plan_id="{{ product.selling_plan_groups.size }}" data-noVariant="{{ product.has_only_default_variant }}">
    <div class="pdp__image--wrapper swiper myProductSwiper">
      <div class="swiper-wrapper">
        {% for item in product.images %}
          <div class="swiper-slide swiper-item">
            <img class="pdp_img lazyload" src="{{ item.src | img_url: '720x900' }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.pdp_img.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ section.settings.pdp_img.alt | escape }}">
          </div>
        {% endfor %}
        <script>{{ product | json }}</script>
      </div>
      <div class="swiper-pagination myProductSwiper-pagination"></div>
    </div>
    <div class="pdp__details">
      <h3 class="details__title h3">{{ product.title }}
      </h3>
      <p class="details__price p">$4.00</p>
        <div class="yotpo-widget-instance" data-yotpo-instance-id="250088" data-yotpo-product-id="{{product.id}}"></div>
      </span>
      <div class="affirm__wrapper">
        {% render 'icon-affirm' %}
        <span class="p reviews">{{ 'pdp_page.pdp_details.reviews' | t }}</span>
      </div>
      <p class="details__description p">{{ 'pdp_page.pdp_details.description' | t }}</p>
      <div class="product-details__variants-list">
        {% unless product.variants[0].title == 'Default Title' %}

          {% for variant in product.variants %}
            {% assign price = variant.price %}
            {% assign quantity = variant.inventory_quantity %}
            <input type="radio" name="variant" id="{{ variant.id }}" class="product-details__variants-item-input" value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}checked{% endif %} {% if quantity <= 0 %}disabled
              {% endif %}><label for="{{ variant.id }}" data-price="{{ price }}" data-id="{{ variant.id }}" class="product-details__variants-item{% if quantity <= 0 %} disabled {% endif %}">
              {{ variant.title }}
            </label>
          {% endfor %}
        {% else %}
          <span class="product-details__noVariant" data-id="{{ product.variants[0].id }}">{{ 'pdp_page.pdp_details.has_no_variants' | t }}</span>
        {% endunless %}

      </div>
      <p class="details__available p">{{ 'pdp_page.pdp_details.available_free_shipping' | t }}</p>
      {%- comment -%} <div class="rc-widget-injection-parent"></div> {%- endcomment -%}


      <div class="product-form"  >
        {% if product.selling_plan_groups.size >= 1 %}
          <div class="form__block">
            <p class="block__header">{{ 'pdp_page.pdp_details.purchase_type' | t }}</p>
            <ul class="block__options">
              <li class="options__item" data-open-accessibility-text-original="16px" style="font-size: 16px;">
                <input class="recharge-option" name="purchase-type" value="{{ product.selected_or_first_available_variant.id }}" name="one" id="one-time-purchase" type="radio" checked />
                <label class="label--checkbox" for="one-time-purchase">{{ 'pdp_page.pdp_details.one_time_purchase' | t }}</label>
              </li>
              <li class="options__item" data-open-accessibility-text-original="16px" style="font-size: 16px;">
                {%- assign new_price = product.variants[0].selling_plan_allocations[0].price | money -%}
                <input class="recharge-option" name="purchase-type" id="subscribe-and-save" value="subscribe" type="radio" hidden />
                <label class="label--checkbox" for="subscribe-and-save">{{ 'pdp_page.pdp_details.subscribe_and_save' | t }} <span class="new_price">{{ new_price }}</span></label>
                
              </li>
            </ul>
          </div>
      

          <div class="form__block" id="subscribe-and-save-form-block">
            <p class="block__subtitle" data-open-accessibility-text-original="14px" style="font-size: 14px;">Choose fewer shipments and we pass along the savings to you. </p>
              <p class="block__header" data-open-accessibility-text-original="16px" style="font-size: 16px;"><span></span> {{ 'pdp_page.pdp_details.select_delivery_option' | t }} </p>
              <ul id="subscribe-and-save-options" class="block__options">
                {% for item in product.selling_plan_groups[0].selling_plans %}
                      <li class="options__item">
                        <input class="recharge-frequent-option"  value="{{ item.id }}" name="sub-options" id="{{ product.selected_or_first_available_variant.id }}" type="radio" hidden="" checked>
                        <label class="label--simple full" for="{{ product.selected_or_first_available_variant.id }}">
                            <div class="weight">
                                <span class="paragraph">{{ item.name | remove: 'Delivery every' }}</span>
                            </div>
                        </label>
                      </li>   
                {% endfor %}
                   
              </ul>
          </div>
          <p id="free-sheeping-block" class="free-sheeping" data-open-accessibility-text-original="17px" style="display: none">{{ 'pdp_page.pdp_details.you_are_qualified_for_free_shipping' | t }}</p>
        {% endif %}
      </div>
      {% render 'primary-button', title: 'Add to Cart', type: 'large addtocart', class: 'addtocart' %}
      <h4 class="details__subtitle h4">{{ 'pdp_page.pdp_details.frequently_bought_with' | t }}</h4>
      <div class="details__wrapper">
        {% assign selected_handles = product.metafields.accentuate.fbp | split: "|" %}
        {% for product in selected_handles %}
          <div class="details__product">
            <div class="product__image--wrapper">
              <img class="banner_img lazyload" src="{{ all_products[product].featured_image | img_url: '98x125' }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{all_products[product].featured_image.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ all_products[product].featured_image.alt | escape }}">

            </div>
            <div class="product__details">
              <p class="p product__details--text">{{ all_products[product].title }}
              </p>
              <button  aria-label="btn--submit" type="button" data-id="{{ all_products[product].selected_or_first_available_variant.id }}" class="p product__details--text-btn">Add to Cart</button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </form>
</div>

  {% assign banner_text = product.metafields.accentuate.banner_text %}
  {% assign banner_images = product.metafields.accentuate.banner_image %}
  {% for item in (1..banner_text.size) %}
    <div class="pdp__banner-rubber">
      <div class="banner-rubber__content">
        {% if banner_text[forloop.index0] != blank %}
          {{ banner_text[forloop.index0] }}
        {% endif %}
      </div>

      <div class="banner-rubber__image--wrapper">
        {% if banner_images[forloop.index0] != blank %}
          <img class="banner__img lazyload" src="{{  banner_images[forloop.index0][0].src }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ banner_images[forloop.index0][0].aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ banner_images[forloop.index0][0].alt | escape }}">
        {% endif %}
        <span class="circleb">
          <span class="circles"></span>
        </span>
      </div>
      <span class='banner__line line_left'></span>
      <span class='banner__line line_center'></span>
      <span class='banner__line line_right'></span>
    </div>
  {% endfor %}

  <div class="pdp__like">
    <h3 class="pdp__like__title h3">{{ 'pdp_page.pdp_details.you_might_also_like' | t }}</h3>
    <div class="pdp__like--products swiper swiperLikes">
      <div class="swiper-wrapper">
        {% assign selected_handles = product.metafields.accentuate.you_might_also_like | split: "|" %}
        {% for product in selected_handles %}

        
          <div href="#" class="product-likes-card swiper-slide">
            <div class="badges__wrapper">
                {% for tag in all_products[product].tags %}
                    {% if tag == 'Sale' %}
                        {% render 'badge', title: tag, type: 'sale' %}
                    {% endif %}
                    {% if tag == '  ' %}
                        {% render 'badge', title: tag, type: 'secondary' %}
                    {% endif %}
                    {% if tag == 'Best Seller' %}
                        {% render 'badge', title: tag, type: 'primary' %}
                    {% endif %}
                    {% if tag == 'Pre-Oder' %}
                        {% render 'badge', title: tag, type: 'default' %}
                    {% endif %}
                {% endfor %}

            </div>
            <div class="product-likes-card__image-wrapper">
                <img src="{{all_products[product].featured_image.src | img_url: 'large' }}" alt="" class="product-likes-card__image">
            </div>
            <div class="product-likes-card__details">
                <p
                class="product-likes-card__title h5">{{ all_products[product].title }}</phref=>
                {%- comment -%} <div class="product-likes-card__star--wrapper">
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                    {% render 'icon-star' %}
                </div> {%- endcomment -%}
                <div class="yotpo-widget-instance" data-yotpo-instance-id="250088" data-yotpo-product-id="{{product.id}}"></div>
                {% for tag in all_products[product].tags %}
                    <p class="product-likes-card__price pricee h5 {% if tag == 'Sale'  %} linethrough {% endif %}">{{ all_products[product].price }}</p>
                {% endfor %}

            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "PDP",
    "settings": [
      {
        "id": "pdp_img",
        "type": "image_picker",
        "label": "Pdp Image"
      },
      {
        "id": "detail_product",
        "type": "image_picker",
        "label": "Pdp Detail Image"
      },
      {
        "id": "product_banner_image1",
        "type": "image_picker",
        "label": "Pdp Banner Image 1"
      },
      {
        "id": "product_banner_image2",
        "type": "image_picker",
        "label": "Pdp Banner Image 2"
      }, {
        "id": "product_banner_image3",
        "type": "image_picker",
        "label": "Pdp Banner Image 3"
      }, {
        "id": "product_likes_img",
        "type": "image_picker",
        "label": "Pdp Likes Image"
      }
    ],
    "blocks": [
      {
      "type": "@app"
    }
    ]

  }
{% endschema %}


<script>
  var swiper = new Swiper(".myProductSwiper", {
    direction: "vertical",
    slidesPerView: 1,
    mousewheel: true,
    pagination: {
      el: ".myProductSwiper-pagination",
      clickable: true
    }
  });

  var swiperr = new Swiper(".swiperLikes", {
    direction: "horizontal",
    slidesPerView: 4,
    spaceBetween: 30,
    mousewheel: true,
    loop: true,
    pagination: {
      el: ".swiperLikes-pagination",
      clickable: true
    }
  });

  const priceTag = document.querySelector('.details__price');
  const varinatsList = document.querySelector('.product-details__variants-list');
  var variantId = "{{ product.id }}";
  varinatsList.addEventListener('click', function(e) {
    const target = e.target.closest('.product-details__variants-item');
    if (! target) 
      return;
    



    badgeContainer(target.dataset.price);
    variantId = target.dataset.id;

  });
  const badgeContainer = (price) => {
    const opt = {
      style: 'currency',
      currency: 'USD'
    };
    priceTag.innerText = new Intl.NumberFormat('en-US', opt).format(price / 100);
  };


  const circleb = document.querySelectorAll('.circleb')
  const circles = document.querySelectorAll('.circles')
  const bannerImg = document
    .querySelectorAll('.banner__img')
    circleb[0]
    .classList
    .add('circle_big')
    circles[0]
    .classList
    .add('circle_small')
  bannerImg[1]
  .classList
  .add('banner_firstImg')



  // Cart price
  formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        maximumFractionDigits: 2
    });

    
    const price = document.querySelectorAll('.product-likes-card__price')
    const pricee = document.querySelectorAll('.pricee')
    for(let i = 0; i < price.length; i++) {
      pricee[i].innerText = (formatter.format(+price[i].innerText / 100))
    }


</script>
