{{ 'style.pdp.css' | asset_url | stylesheet_tag}}
{{ 'style.card.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
<script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{{ 'script.pdp.js' | asset_url }}" defer></script>
<style>

  .card {
    background-image: url("{{ 'gumbaz.svg' | asset_url }}");
  }

  .pdp__banner__metafield {
    background-image: url("{{ section.settings.product_banner_bg_img | img_url: 'large' }}")
  }
</style>

<div class="pdp">
  {%- comment -%}
    <div class="image-modal">
    <div class="image-modal__wrapper">
    <span class="close">
    {% render 'icon-close' %}
    </span>
    <div class="modal__images">
    {% for item in product.images %}
    <img class="modal__image lazyload" src="{{ item.src | img_url }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.pdp_img.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ section.settings.pdp_img.alt | escape }}">
    {% endfor %}
    </div>
    </div>
    </div>
  {%- endcomment -%}
  <form id="form-product" data-selling_plan_id="{{ product.selling_plan_groups.size }}" data-noVariant="{{ product.has_only_default_variant }}">
    <div class="pdp__container">
      <div class="pdp__image--container ">
        <div thumbsSlider="" class="swiper mySwiperPdp product__small-images">
          <div class="swiper-wrapper product__small-images__swiper--wrapper">
            {% for item in product.images %}
              <div class="swiper-slide product__small-image--wrapper">
                <img class="product__small-image" src="{{ item.src | img_url: '720x900' }}" loading="lazy" alt="{{ item.alt | escape }}"/>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper mySwiper2Pdp product__big-image--container">
          <div class="swiper-wrapper">
            {% for item in product.images %}
              <div class="swiper-slide product__big-image--wrapper">
                <img srcset="{%- if item.src.width >= 165 -%}{{ item.src | image_url: width: 165 }} 165w,{%- endif -%}
                                                                                                                                                                                                                                                                                                              {%- if item.src.width >= 360 -%}{{ item.src | image_url: width: 360 }} 360w,{%- endif -%}
                                                                                                                                                                                                                                                                                                              {%- if item.src.width >= 533 -%}{{ item.src | image_url: width: 533 }} 533w,{%- endif -%}
                                                                                                                                                                                                                                                                                                              {%- if item.src.width >= 720 -%}{{ item.src | image_url: width: 720 }} 720w,{%- endif -%}
                                                                                                                                                                                                                                                                                                              {%- if item.src.width >= 940 -%}{{ item.src | image_url: width: 940 }} 940w,{%- endif -%}
                                                                                                                                                                                                                                                                                                              {%- if item.src.width >= 1066 -%}{{ item.src | image_url: width: 1066 }} 1820w,{%- endif -%}
                                                                                                                                                                                                                                                                                                              {{ item.src | image_url }} {{ item.src.width }}w
                                                                                                                                                                                                                                                                                                            " src="{{ item.src | image_url: width: 648 }}" sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)" alt="{{ item.src.alt | escape }}" class="product__big-image"
                  {% unless lazy_load==false %}
                  loading="lazy"{% endunless %} width="{{ item.src.width }}" height="{{ item.src.height }}">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="pdp__details--container">
        <h4 class="product__type">{{ product.type }}</h4>
        <h1 class="product__title">{{ product.title }}</h1>
        <h2 class="product__price">{{ product.price | money }}</h2>
        {% unless product.variants[0].title == 'Default Title' %}

          {% if product.variants  %}
            <select class="select select_size h4" id="" data-set="{{ product.variants }}">
              <option class="option h4 " value="Select Size" selected disabled>Select Size</option>
              {% for variant in product.variants %}
                <option data-variant="{{variant}}" class="option option_size h4 product__item-selected" value="{{ variant.option1 }}">{{ variant.option1 }}
                </option>
                <script>
                  console.log(document.querySelector('.product__item-selected'), 'iii')
                </script>
              {% endfor %}
            </select>
          {% endif %}
        {% else %}
          <span class="product-details__noVariant" data-id="{{ product.variants[0].id }}">{{ 'pdp_page.pdp_details.has_no_variants' | t }}</span>
        {% endunless %}
        {% render 'secondary-button', title: 'Add To Cart', type: 'addtocart', width: '253px' %}
        <div class="pdp__product__info">
          {% assign product_info = product.metafields.accentuate.product_info %}
          {{ product_info }}
        </div>
        <div class="pdp__product__description">
          {% assign product_description = product.metafields.accentuate.product_description %}
          {{ product_description }}
        </div>
        <div class="pdp__product__details">
          {% assign product_details = product.metafields.accentuate.product_details %}
          {{ product_details }}
        </div>
        <div class="pdp__product__contact">
          {% assign product_contact = product.metafields.accentuate.product_contact_us %}
          {{ product_contact }}
        </div>

      </div>
    </div>
  </form>
  <div class="pdp__banner__metafield">
    {% assign product_banner_content = product.metafields.accentuate.product_banner_content %}
    {% assign product_banner_image = product.metafields.accentuate.product_banner_image %}
    {% for item in (2..product_banner_content.size) %}
      <div class="pdp__banner__wrapper">
        <div class="pdp__banner__image">
          {% if product_banner_image[forloop.index0] != blank %}
            <img class="banner__img lazyload" src="{{  product_banner_image[forloop.index0][0].src }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ product_banner_image[forloop.index0][0].aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ product_banner_image[forloop.index0][0].alt | escape }}">
          {% endif %}
        </div>
        <div class="pdp__banner__content">
          {% if product_banner_content[forloop.index0] != blank %}
            {{ product_banner_content[forloop.index0] }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="pdp__you-might-also-like">
    <h2 class="pdp__you-might-also-like__title">You might also like</h2>
    {% assign selected_handles = product.metafields.accentuate.banner_image | split: "|" %}
    <div class="pdp__you-migh-also-like__cards swiper swiperLikes">
      <div class="swiper-wrapper">
        {% for product in selected_handles %}
          {% assign item = all_products[product] %}
          <div class="swiper-slide">
            <div class="card">
              <div class="card__image-wrapper">
                <img src="{{ item.featured_image.src | img_url}}" alt="{{ item.handle }}" class="card__img">
              </div>
              <div class="card__details">
                <h3 class="card__title">{{ item.title }}</h3>
                <h4 class="card__price">{{ item.price | money }}</h4>
                <h4 class="card__subtitle">{{ item.tags }}</h4>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product List Page",
    "settings": [
      {
        "id": "product_banner_bg_img",
        "type": "image_picker",
        "label": "Banner Background Image"
      }
    ]
  }
{% endschema %}

<script>
  const opt = {
    style: 'currency',
    currency: 'USD'
  };
  const select = document.querySelector('.select_size');
  const options = document.querySelectorAll('.option_size');
  const productTitle = document.querySelector('.product__title');
  const productPrice = document.querySelector('.product__price');
  console.log({{ product | json }}, 'productt')
  select.addEventListener('change', (e) => {
    const productVariants = {{ product.variants | json }};
    productVariants.forEach(variant => {
      if (variant.option1 == e.target.value) {
        productTitle.innerText = variant.name
          ? variant.name
          : "{{ product.title }}"
        const varaintPrice = new Intl.NumberFormat('en-US', opt).format(variant.price / 100);
        productPrice.innerText = `${varaintPrice}`
      }
    })
  })

  var pdpswiper = new Swiper(".mySwiperPdp", {
    direction: "vertical",
    spaceBetween: 10,
    slidesPerView: 4,
    freeMode: true,
    watchSlidesProgress: true,
    mousewheel: true,
    pagination: {
      clickable: true
    }

  });
  var pdpswiper2 = new Swiper(".mySwiper2Pdp", {
    direction: "horizontal",
    spaceBetween: 10,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    thumbs: {
      swiper: pdpswiper
    },
    mousewheel: true,
    pagination: {
      clickable: true
    }
  });


  var youMightAlsoLike = new Swiper(".swiperLikes", {
    direction: "horizontal",
    slidesPerView: 4,
    spaceBetween: 40,
    mousewheel: true,
    loop: true,
    pagination: {
      el: ".swiperLikes-pagination",
      clickable: true
    }
  });
</script>