{{ 'style.pdp.css' | asset_url | stylesheet_tag}}
<script src="{{ 'script.pdp.js' | asset_url }}" defer></script>

<div class="pdp">
  <div class="image-modal">
    <div class="image-modal__wrapper">
      <span class="close">
        {% render 'icon-close' %}
      </span>
      <div class="modal__images">
        {% for item in product.images %}
          <img class="modal__image lazyload" src="{{ item.src | img_url }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.pdp_img.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ section.settings.pdp_img.alt | escape }}">
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="pdp__container">
    <div class="pdp__image--container">
      <div class="pdp__images--wrapper">
        {% for item in product.images %}
          <img class="pdp__image--item lazyload" src="{{ item.src | img_url }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.pdp_img.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ section.settings.pdp_img.alt | escape }}">
        {% endfor %}
      </div>
      <div class="pdp__image--wrapper">
        <img class="pdp__image lazyload" src="{{ product.featured_image.src | img_url }}" data-src="{{ img_url }}" data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-aspectratio="{{ section.settings.pdp_img.aspect_ratio }}" data-sizes="auto" data-parent-fit="cover" alt="{{ section.settings.pdp_img.alt | escape }}">
      </div>
    </div>
    <div class="pdp__details--container">
      <h4 class="product__type">{{ product.type }}</h4>
      <h1 class="product__title">{{ product.title }}</h1>
      <h2 class="product__price">{{ product.price | money }}</h2>
      {% for variant in product.variants %}
        <script>
          console.log({{ variant.option1 | json }}, 'size')
        </script>
        {% assign size = variant.options1 %}
        {% assign price = variant.price %}
        <p>{{ size }}</p>
        <p>{{ price }}</p>
      {% endfor %}

      <select default="Select Size" class="select h4" id="">
        console.log({{ product.options | json }}, 'productVariant')
        <option class="option h4" value="Select Size" selected disabled>Select Size</option>
        <option class="option h4" value="10">10</option>
        <option class="option h4" value="20">20</option>
        <option class="option h4" value="30">30</option>
        <option class="option h4" value="40">40</option>
      </select>
      {% render 'secondary-button', title: 'Add To Cart', width: '253px' %}
    </div>
  </div>
</div>