<!-- /templates/customers/register.liquid -->
{{ 'style.register.css' | asset_url | stylesheet_tag }}

<h3 class="h3 register__title">{{ 'general.register_page.register_title' | t }}</h3>
<div class="register__container">
  {% form 'create_customer' %}

    {{ form.errors | default_errors }}
    <div class="register__wrapper">
      <div class="input-box">
        <label class="register__label" for="first_name">First Name</label>
        <input class="register__input" type="text" name="customer[first_name]" size="30"/>
      </div>

      <div class="input-box">
        <label class="register__label" for="last_name">Last Name</label>
        <input class="register__input" type="text" value="" name="customer[last_name]" size="30"/>
      </div>
    </div>

    <div class="register__wrapper">
      <div class="input-box">
        <label class="register__label" for="email">Email Address</label>
        <input class="register__input" type="email" value="" name="customer[email]" size="30"/>
      </div>
    </div>

    <div class="register__wrapper">
      <div class="input-box">
        <label class="register__label" for="password">Password</label>
        <input class="register__input" type="password" value="" name="customer[password]" size="30"/>
      </div>
    </div>

    <div class="register__wrapper">
      <div class="input-box">
        <label class="register__label" for="password">Confirm Password</label>
        <input class="register__input" type="password" value="" name="customer[password]" size="30"/>
      </div>
    </div>


    <button aria-label="btn--submit" class="register__btn" type="submit">{{ 'general.register_page.register_title' | t }}</button>
  {% endform %}
  <p class="register__alreadyHaveAnAccount">{{ 'general.register_page.register_have_an_account' | t }}</p>

  <form action="/account/login">
    <button aria-label="btn--submit" class="register__btn--secondary" type="submit">{{ 'general.register_page.register_login_title' | t }}</button>
  </form>


</div>